node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
build

coverage
test
**/*.spec.ts
**/*.test.ts
jest.config.json

.git
.gitignore
.gitattributes

.github
.gitlab-ci.yml

.vscode
.idea
.DS_Store

.env
.env.*

prisma/dev.db
Dockerfile*
docker-compose*
.dockerignore

README.md
CHANGELOG.md
LICENSE
doc
docs

logs
*.log

.prettierrc
.eslintrc.js
.editorconfig